@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300&display=swap');


body {
    font-family: 'Courgette', cursive;
    margin: 0;
    overflow: hidden;
}
.game {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.start-screen {
    font-size: 48px;
    border: 1px solid black;
    width: 400px;
    height: 250px;
    background-color:lightgreen ;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container{
    width: 70%;
}

.logo-container img {
    width: 100%;

    object-fit: fill;
}

.content{
    width: 80%;
}

.start-screen:hover{
    background-color: green;
}

.game-screen{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
}

.hidden {
    display: none;
}

.wizard{
    position: absolute;
    z-index: 2;
    background-image: url('../images/wizard.png');
    object-fit: fill;
    background-repeat: no-repeat;
   
}

.bug {
   
    position: absolute;
    z-index: 2;
    background-image :url('../images/bug.png');
    background-size: cover;
    
}


.error {
    position: absolute;
    z-index: 2;
    background-image :url('../images/error.png');
    background-size: cover;
    
}

.fireball {
    position: absolute;
    z-index: 2;
    background-image: url('../images/fire-ball.png');
    background-size: cover;
}

.game-over {
    position: absolute;
    width: 50%;
    background-color: brown;
    z-index: 1;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.game-over:hover {
    background-color: rgb(97, 3, 3);
}

.score {
    background-color: black;
    color: white;
    text-align: center;
}

.cloud {
    
    position: absolute;
    z-index: 1;
    background-image: url('../images/cloud.png');
    background-size: cover;
}